#page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-header {
    font-size: 32px;
    text-align: center;
    margin: 25px;
    display: none;
}

#game-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.name-label {
    font-size: 24px;
}

.name-input {
    padding: 5px;
    font-size: 18px;
}


#game-display {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    height: min-content;
    align-items: center;
    justify-content: center;
    display: none;
}

.game-space {
    border: 1px black solid;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 64px;
}

#restart-btn,
#start-btn {
    width: min-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    padding: 5px 10px;
}

#restart-btn {
    margin-top: 20px;
    display: none;
}